<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="item:copied">
        <handler type="Sc.Modules.Events.LayoutDataSourceReferenceUpdater.LayoutDataSourceReferenceUpdater, Sc.Modules.Events.LayoutDataSourceReferenceUpdater" method="OnItemCopied"/>
      </event>
    </events>
  </sitecore>
</configuration>